@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sira = 1;
}

<div class="card-header border-0">
    <div>
        <div class="float-left">
            <h3 class="mb-0">Hizmetlerim</h3>

        </div>
        <div class="float-right">
            <a href="/Service/AddService" class="btn btn-warning btn-sm mb-0"> + Hizmet Ekle</a>

        </div>
    </div>

</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="completion">Başlık</th>
                <th scope="col" class="sort" data-sort="completion">Resim</th>
                <th scope="col" class="sort" data-sort="status">Sil</th>
                <th scope="col" class="sort" data-sort="status">Düzenle</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@sira</span>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm text-white" data-toggle="popover-hover" data-img="@item.ImageUrl">Görsel </a>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a class="btn btn-danger btn-sm text-white" href="/Service/DeleteService/@item.Id" id="DeleteBtn"
                               onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="ni ni-fat-remove"></i> Sil</a>

                        </div>
                    </td>
                    <td>
                        <div class="avatar-group">
                            <a href="/Service/EditService/@item.Id" class="btn btn-warning btn-sm text-white"><i class="ni ni-settings-gear-65"></i> Düzenle </a>
                        </div>
                    </td>
                </tr>
                sira++;
            }

        </tbody>
    </table>
</div>

