@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Güncelleme Sayfası</h3>
</div>
<hr />
<div class="row">
    <div class="container-fluid col-12">
        <form asp-action="EditSkill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control text-white" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control text-white" required/>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group float-left">
                    <a class="btn btn-outline-danger btn-sm" asp-action="Index">Listeye Geri Gön</a>
                </div>
                <div class="form-group float-right">
                    <input type="submit" value="Kaydet" class="btn btn-outline-primary btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

