@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int sira = 1;
}
<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="float-left">
                    <h4 class="card-title">Yeteneklerim</h4>

                </div>
                <div class="float-right">
                    <a href="/Skill/AddSkill" class="btn btn-outline-warning btn-sm mb-0"> + Yetenek Ekle</a>

                </div>
            </div>


            <div class="table-responsive mt-2">
                <table class="table table-bordered table-contextual">
                    <thead>
                        <tr>
                            <th scope="col" class="sort" data-sort="name">#</th>
                            <th scope="col" class="sort" data-sort="budget">Başlık</th>
                            <th scope="col" class="sort" data-sort="completion">Oran</th>
                            <th scope="col" class="sort" data-sort="status">Sil</th>
                            <th scope="col" class="sort" data-sort="status">Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-dark">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@sira</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    @item.Title
                                </td>

                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">@item.Value%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <a class="btn btn-outline-danger btn-sm " href="/Skill/DeleteSkill/@item.Id" id="DeleteBtn"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?');">Sil</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <a href="/Skill/EditSkill/@item.Id" class="btn btn-outline-warning btn-sm ">Düzenle </a>
                                    </div>
                                </td>
                            </tr>
                            sira++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>